# AI-Lab: 10
### Rollnumber: BSDS 3A
### Name: Bisma Asif

In [53]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Data Gathering and Data Loading

In [54]:
df = pd.read_csv("Heart_Disease_Prediction.csv")
df

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,2.4,2,3,3,Presence
1,33,2,10,564,0,2,0,1.6,2,0,7,Absence
2,23,1,16,261,0,0,0,0.3,1,0,7,Presence
3,30,3,19,263,0,0,1,0.2,2,1,7,Absence
4,38,1,13,269,0,2,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,18,2,41,199,1,0,0,0.5,1,0,7,Absence
266,10,1,13,263,0,0,0,0.0,1,0,7,Absence
267,22,1,27,294,0,2,0,1.3,2,0,3,Absence
268,23,3,27,192,0,0,0,0.4,2,0,6,Absence
269,33,3,38,286,0,2,1,1.5,2,3,3,Presence

### Data Exploration

In [3]:
df.head(2)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence

In [4]:
df.tail(2)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [19]:
df.columns

Index(['Age', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Exercise angina', 'ST depression', 'Slope of ST',
       'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [21]:
df.count()

Age                        270
Chest pain type            270
BP                         270
Cholesterol                270
FBS over 120               270
EKG results                270
Exercise angina            270
ST depression              270
Slope of ST                270
Number of vessels fluro    270
Thallium                   270
Heart Disease              270
dtype: int64

In [22]:
df.describe()

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,3.174074,131.344444,249.659259,0.148148,1.022222,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.950090,17.861608,51.686237,0.355906,0.997891,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,1.000000,94.000000,126.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,3.000000,120.000000,213.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,3.000000,130.000000,245.000000,0.000000,2.000000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,4.000000,140.000000,280.000000,0.000000,2.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,4.000000,200.000000,564.000000,1.000000,2.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 270 and Number of Columns: 14

In [10]:
df['BP'].unique()

array([130, 115, 124, 128, 120, 110, 140, 150, 135, 142, 134, 112, 132,
       138, 160, 170, 144, 122, 152, 101, 126, 118, 136, 105, 174, 145,
       108, 156, 106, 104,  94, 146, 148, 178, 125, 100, 165, 180, 158,
       200, 117, 192, 123, 129, 102, 155, 172], dtype=int64)

In [11]:
df.nunique()

Age                         41
Sex                          2
Chest pain type              4
BP                          47
Cholesterol                144
FBS over 120                 2
EKG results                  3
Max HR                      90
Exercise angina              2
ST depression               39
Slope of ST                  3
Number of vessels fluro      4
Thallium                     3
Heart Disease                2
dtype: int64

In [12]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

### Data Pre-Processing

### Manage Null Values

In [13]:

df = df.drop('Max HR', axis=1)

In [14]:

df = df.drop('Sex', axis=1)

In [23]:

def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Age', 'Cholesterol', 'BP']
fillnaObjectMode(columns)

In [24]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Age','Cholesterol','BP','Heart Disease','Chest pain type','Slope of ST','ST depression']
fillnaIntMode(columns)

In [29]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age','BP','Chest pain type']
fillnaFloatMean(columns)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   ST depression            270 non-null    float64
 8   Slope of ST              270 non-null    int64
 9   Number of vessels fluro  270 non-null    int64
 10  Thallium                 270 non-null    int64
 11  Heart Disease            270 non-null    object
dtypes: float64(1), int64(10), object(1)
memory usage: 25.4+ KB

Manage Data Types

In [31]:
df['Age'] = df['Age'].astype('int64')

In [35]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Age','BP','Chest pain type']
changeFloatToInt(columns)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   ST depression            270 non-null    float64
 8   Slope of ST              270 non-null    int64
 9   Number of vessels fluro  270 non-null    int64
 10  Thallium                 270 non-null    int64
 11  Heart Disease            270 non-null    object
dtypes: float64(1), int64(10), object(1)
memory usage: 25.4+ KB

In [51]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    
        df[i] = data_LE.transform(df[i])
        
columns = ['Age', 'BP', 'Chest pain type']
convertObjToInt(columns)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   ST depression            270 non-null    float64
 8   Slope of ST              270 non-null    int64
 9   Number of vessels fluro  270 non-null    int64
 10  Thallium                 270 non-null    int64
 11  Heart Disease            270 non-null    object
dtypes: float64(1), int64(10), object(1)
memory usage: 25.4+ KB

In [48]:
df.head(3)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,2.4,2,3,3,Presence
1,33,2,10,564,0,2,0,1.6,2,0,7,Absence
2,23,1,16,261,0,0,0,0.3,1,0,7,Presence

In [47]:
df.to_csv('Heart_Disease_Prediction.csv', index=False, header=True)

In [46]:
df = pd.read_csv('Heart_Disease_Prediction.csv')