# AI-Lab: 11
### Rollnumber: BSDS 3A
### Name: Bisma Asif

In [1]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Data Gathering
Data Loading

In [2]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

Data Exploration

In [3]:
df.head(2)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,3,3,Presence
1,33,2,10,564,0,2,0,0,7,Absence

In [4]:
df.tail(2)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,Number of vessels fluro,Thallium,Heart Disease
268,23,3,27,192,0,0,0,0,6,Absence
269,33,3,38,286,0,2,1,3,3,Presence

In [5]:
df.columns

Index(['Age', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Exercise angina', 'Number of vessels fluro', 'Thallium',
       'Heart Disease'],
      dtype='object')

In [6]:
df.count()

Age                        270
Chest pain type            270
BP                         270
Cholesterol                270
FBS over 120               270
EKG results                270
Exercise angina            270
Number of vessels fluro    270
Thallium                   270
Heart Disease              270
dtype: int64

In [7]:
df.describe()

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000
mean,20.440741,2.174074,20.788889,249.659259,0.148148,1.022222,0.329630,0.670370,4.696296
std,8.956016,0.950090,10.335086,51.686237,0.355906,0.997891,0.470952,0.943896,1.940659
min,0.000000,0.000000,0.000000,126.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,14.000000,2.000000,13.000000,213.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,21.000000,2.000000,21.000000,245.000000,0.000000,2.000000,0.000000,0.000000,3.000000
75%,27.000000,3.000000,27.000000,280.000000,0.000000,2.000000,1.000000,1.000000,7.000000
max,40.000000,3.000000,46.000000,564.000000,1.000000,2.000000,1.000000,3.000000,7.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   Number of vessels fluro  270 non-null    int64
 8   Thallium                 270 non-null    int64
 9   Heart Disease            270 non-null    object
dtypes: int64(9), object(1)
memory usage: 21.2+ KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 270 and Number of Columns: 10

In [10]:
df['Age'].unique()

array([36, 33, 23, 30, 38, 31, 22, 25, 26, 29, 19, 10, 27, 37, 12,  6, 14,
        9, 13, 20, 17, 24, 32,  3, 16,  8, 28, 15, 18, 11,  7, 39,  5,  2,
       21,  1,  4, 35, 34, 40,  0], dtype=int64)

In [11]:
df.nunique()

Age                         41
Chest pain type              4
BP                          47
Cholesterol                144
FBS over 120                 2
EKG results                  3
Exercise angina              2
Number of vessels fluro      4
Thallium                     3
Heart Disease                2
dtype: int64

In [12]:
df.isnull().sum()

Age                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Exercise angina            0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

Data Pre-Processing

Manage Null Values

In [23]:

df = df.drop('FBS over 120', axis=1)

In [22]:

df = df.drop('Number of vessels fluro', axis=1)

In [31]:

def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Chest pain type','Thallium','Exercise angina' ]
fillnaObjectMode(columns)

In [32]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Chest pain type','Thallium','Exercise angina']
fillnaIntMode(columns)

In [33]:

def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Chest pain type','Thallium','Exercise angina']
fillnaFloatMean(columns)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Chest pain type  270 non-null    int64
 1   Cholesterol      270 non-null    int64
 2   EKG results      270 non-null    int64
 3   Exercise angina  270 non-null    int64
 4   Thallium         270 non-null    int64
 5   Heart Disease    270 non-null    object
dtypes: int64(5), object(1)
memory usage: 12.8+ KB

Manage Data Types

In [37]:
df['Heart Disease'] = df['Thallium'].astype('int64')

In [38]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Exercise angina', 'Thallium', 'Chest pain type']
changeFloatToInt(columns)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Chest pain type  270 non-null    int64
 1   Cholesterol      270 non-null    int64
 2   EKG results      270 non-null    int64
 3   Exercise angina  270 non-null    int64
 4   Thallium         270 non-null    int64
 5   Heart Disease    270 non-null    int64
dtypes: int64(6)
memory usage: 12.8 KB

In [40]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))   
        df[i] = data_LE.transform(df[i])
        
columns = ['Exercise angina', 'Thallium', 'Chest pain type']
convertObjToInt(columns)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Chest pain type  270 non-null    int64
 1   Cholesterol      270 non-null    int64
 2   EKG results      270 non-null    int64
 3   Exercise angina  270 non-null    int64
 4   Thallium         270 non-null    int64
 5   Heart Disease    270 non-null    int64
dtypes: int64(6)
memory usage: 12.8 KB

In [42]:
df.head(2)

,Chest pain type,Cholesterol,EKG results,Exercise angina,Thallium,Heart Disease
0,3,322,2,0,0,3
1,2,564,2,0,2,7

In [43]:
df.to_csv('Heart_Disease_Prediction.csv', index=False, header=True)

In [44]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
df

,Chest pain type,Cholesterol,EKG results,Exercise angina,Thallium,Heart Disease
0,3,322,2,0,0,3
1,2,564,2,0,2,7
2,1,261,0,0,2,7
3,3,263,0,1,2,7
4,1,269,2,1,0,3
...,...,...,...,...,...,...
265,2,199,0,0,2,7
266,1,263,0,0,2,7
267,1,294,2,0,0,3
268,3,192,0,0,1,6
269,3,286,2,1,0,3

Train - Test Splitting

In [45]:
import pandas as pd
df = pd.read_csv('Heart_Disease_Prediction.csv')

df.columns

Index(['Chest pain type', 'Cholesterol', 'EKG results', 'Exercise angina',
       'Thallium', 'Heart Disease'],
      dtype='object')

In [48]:
X = df.drop('Thallium', axis=1)   
y = df['Exercise angina']

In [49]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [50]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(189, 5) (189,)
(81, 5) (81,)

Applying Classifier / Model Training

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [52]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

In [53]:
def convertObjToInt(cols):
    for i in cols:
        label = LabelEncoder()
        df[i] = label.fit_transform(df[i])
        
columns = ['Exercise angina', 'Thallium', 'Chest pain type']
convertObjToInt(columns)

In [54]:
X = df.drop("Heart Disease", axis=1)
y = df["Heart Disease"]

In [55]:
train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=True, random_state=42
)

In [56]:
model_svc = SVC()

model_svc.fit(train_X, train_y)

print("Model trained successfully!")

Model trained successfully!

In [57]:
accuracy = model_svc.score(test_X, test_y)
print("Accuracy:", accuracy)

Accuracy: 0.6172839506172839

In [58]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [59]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))