In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Data Gathering
### Data Loading

In [2]:
df = pd.read_csv("period - Copy.csv")
df

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Unusual_Bleeding,Height,Weight,Income,BMI,Mean_of_length_of_cycle,Menses_score
0,3,18,27,14,9,5,no,5 6,76.0,0,26.3,30,4.0
1,4,18,25,17,10,6,yes,5 6,76.0,0,26.3,30,5.0
2,2,19,30,17,13,4,no,5 3,56.0,0,21.9,30,2.0
3,3,19,28,16,14,6,no,5 1,61.0,0,25.4,30,3.0
4,2,19,35,18,15,5,no,5'3,55.0,0,21.5,35,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2,19,35,16,12,5,no,5'3,57.0,0,22.3,30,1.0
158,2,18,30,13,14,6,no,5'6,64.0,0,22.5,30,2.0
159,3,19,40,16,14,6,no,5'3,55.2,0,21.6,38,3.0
160,2,18,32,15,14,8,no,5'6,45.5,0,16.2,32,4.0
161,3,19,28,7,14,6,no,"5'2""",53.0,0,22.0,28,5.0

### Data Exploration

In [3]:
df.head(3)

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Unusual_Bleeding,Height,Weight,Income,BMI,Mean_of_length_of_cycle,Menses_score
0,3,18,27,14,9,5,no,5 6,76.0,0,26.3,30,4.0
1,4,18,25,17,10,6,yes,5 6,76.0,0,26.3,30,5.0
2,2,19,30,17,13,4,no,5 3,56.0,0,21.9,30,2.0

In [4]:
df.tail(3)

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Unusual_Bleeding,Height,Weight,Income,BMI,Mean_of_length_of_cycle,Menses_score
159,3,19,40,16,14,6,no,5'3,55.2,0,21.6,38,3.0
160,2,18,32,15,14,8,no,5'6,45.5,0,16.2,32,4.0
161,3,19,28,7,14,6,no,"5'2""",53.0,0,22.0,28,5.0

In [5]:
df.columns

Index(['number_of_peak', 'Age', 'Length_of_cycle',
       'Estimated_day_of_ovulution', 'Length_of_Leutal_Phase',
       'Length_of_menses', 'Unusual_Bleeding', 'Height', 'Weight', 'Income',
       'BMI', 'Mean_of_length_of_cycle', 'Menses_score'],
      dtype='object')

In [6]:
df.count()

number_of_peak                162
Age                           162
Length_of_cycle               162
Estimated_day_of_ovulution    162
Length_of_Leutal_Phase        162
Length_of_menses              162
Unusual_Bleeding              162
Height                        162
Weight                        162
Income                        162
BMI                           162
Mean_of_length_of_cycle       162
Menses_score                  162
dtype: int64

In [7]:
df.describe()

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Weight,Income,BMI,Mean_of_length_of_cycle,Menses_score
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.0,162.000000,162.000000,162.000000
mean,2.518519,19.333333,29.283951,15.135802,12.753086,5.061728,56.696296,0.0,21.738889,29.320988,3.372840
std,0.706863,1.453204,4.191783,2.352496,3.270538,1.025703,9.471440,0.0,2.975396,5.319196,1.183112
min,1.000000,14.000000,22.000000,7.000000,7.000000,1.000000,40.000000,0.0,16.200000,13.000000,1.000000
25%,2.000000,19.000000,27.000000,14.000000,10.000000,5.000000,51.000000,0.0,20.400000,27.000000,3.000000
50%,2.000000,19.000000,28.000000,15.000000,13.000000,5.000000,55.000000,0.0,21.600000,30.000000,3.000000
75%,3.000000,20.000000,30.000000,16.000000,14.000000,6.000000,60.000000,0.0,22.500000,30.000000,4.000000
max,5.000000,25.000000,40.000000,22.000000,30.000000,8.000000,85.000000,0.0,32.900000,46.000000,5.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   number_of_peak              162 non-null    int64
 1   Age                         162 non-null    int64
 2   Length_of_cycle             162 non-null    int64
 3   Estimated_day_of_ovulution  162 non-null    int64
 4   Length_of_Leutal_Phase      162 non-null    int64
 5   Length_of_menses            162 non-null    int64
 6   Unusual_Bleeding            162 non-null    object
 7   Height                      162 non-null    object
 8   Weight                      162 non-null    float64
 9   Income                      162 non-null    int64
 10  BMI                         162 non-null    float64
 11  Mean_of_length_of_cycle     162 non-null    int64
 12  Menses_score                162 non-null    float64
dtypes: float64(3), int64(8), object(2)
memory usage: 16.6+ KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 162 and Number of Columns: 13

In [10]:
df['Unusual_Bleeding'].unique()

array(['no', 'yes', 'No', 'NO'], dtype=object)

In [11]:
df.nunique()

number_of_peak                 5
Age                            8
Length_of_cycle               16
Estimated_day_of_ovulution    12
Length_of_Leutal_Phase        12
Length_of_menses               7
Unusual_Bleeding               4
Height                        27
Weight                        27
Income                         1
BMI                           44
Mean_of_length_of_cycle       18
Menses_score                   7
dtype: int64

In [12]:
df.isnull().sum()

number_of_peak                0
Age                           0
Length_of_cycle               0
Estimated_day_of_ovulution    0
Length_of_Leutal_Phase        0
Length_of_menses              0
Unusual_Bleeding              0
Height                        0
Weight                        0
Income                        0
BMI                           0
Mean_of_length_of_cycle       0
Menses_score                  0
dtype: int64

### Data Pre-Processing

### Manage Null Values

In [13]:

print(df.isnull().sum())


missing_percent = (df.isnull().sum() / len(df)) * 100
print(missing_percent)

number_of_peak                0
Age                           0
Length_of_cycle               0
Estimated_day_of_ovulution    0
Length_of_Leutal_Phase        0
Length_of_menses              0
Unusual_Bleeding              0
Height                        0
Weight                        0
Income                        0
BMI                           0
Mean_of_length_of_cycle       0
Menses_score                  0
dtype: int64
number_of_peak                0.0
Age                           0.0
Length_of_cycle               0.0
Estimated_day_of_ovulution    0.0
Length_of_Leutal_Phase        0.0
Length_of_menses              0.0
Unusual_Bleeding              0.0
Height                        0.0
Weight                        0.0
Income                        0.0
BMI                           0.0
Mean_of_length_of_cycle       0.0
Menses_score                  0.0
dtype: float64

In [14]:
df = df.drop('Income', axis=1)

In [15]:
def fillnaObjectMode(cols, df):
 
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])
        print(f"Filled missing values in {i} with mode {df[i].mode()[0]}")
columns = ['Unusual_Bleeding', 'Menses_score']
fillnaObjectMode(columns, df)

Filled missing values in Unusual_Bleeding with mode no
Filled missing values in Menses_score with mode 3.0

In [16]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['number_of_peak', 'Age', 'Length_of_cycle', 'Estimated_day_of_ovulution',
           'Length_of_Leutal_Phase', 'Length_of_menses', 'Weight', 'BMI', 'Mean_of_length_of_cycle']
fillnaIntMode(columns)

In [17]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Weight', 'BMI', 'Mean_of_length_of_cycle']
fillnaFloatMean(columns)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   number_of_peak              162 non-null    int64
 1   Age                         162 non-null    int64
 2   Length_of_cycle             162 non-null    int64
 3   Estimated_day_of_ovulution  162 non-null    int64
 4   Length_of_Leutal_Phase      162 non-null    int64
 5   Length_of_menses            162 non-null    int64
 6   Unusual_Bleeding            162 non-null    object
 7   Height                      162 non-null    object
 8   Weight                      162 non-null    float64
 9   BMI                         162 non-null    float64
 10  Mean_of_length_of_cycle     162 non-null    int64
 11  Menses_score                162 non-null    float64
dtypes: float64(3), int64(7), object(2)
memory usage: 15.3+ KB

### Manage Data Types

In [19]:
#converted to integers
df['number_of_peak'] = df['number_of_peak'].astype('int64')
df['Age'] = df['Age'].astype('int64')
df['Length_of_cycle'] = df['Length_of_cycle'].astype('int64')
df['Estimated_day_of_ovulution'] = df['Estimated_day_of_ovulution'].astype('int64')
df['Length_of_Leutal_Phase'] = df['Length_of_Leutal_Phase'].astype('int64')
df['Length_of_menses'] = df['Length_of_menses'].astype('int64')
df['Weight'] = df['Weight'].astype('int64')
df['Mean_of_length_of_cycle'] = df['Mean_of_length_of_cycle'].astype('int64')
df['Menses_score'] = df['Menses_score'].astype('int64')

In [20]:
df['BMI'] = df['BMI'].astype('float64')

In [21]:
df['Unusual_Bleeding'] = df['Unusual_Bleeding'].astype('object')

In [22]:
def changeFloatToInt(cols, df):

    for col in cols:
        df[col] = df[col].fillna(0)  
        df[col] = df[col].astype('int64')
        print(f"Converted {col} to int64")

float_cols_to_int = [ 'BMI', 'Weight','Menses_score'] 
changeFloatToInt(float_cols_to_int, df)

Converted BMI to int64
Converted Weight to int64
Converted Menses_score to int64

In [23]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    
        df[i] = data_LE.transform(df[i])
        
columns = ['Unusual_Bleeding','Height']
convertObjToInt(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   number_of_peak              162 non-null    int64
 1   Age                         162 non-null    int64
 2   Length_of_cycle             162 non-null    int64
 3   Estimated_day_of_ovulution  162 non-null    int64
 4   Length_of_Leutal_Phase      162 non-null    int64
 5   Length_of_menses            162 non-null    int64
 6   Unusual_Bleeding            162 non-null    int32
 7   Height                      162 non-null    int32
 8   Weight                      162 non-null    int64
 9   BMI                         162 non-null    int64
 10  Mean_of_length_of_cycle     162 non-null    int64
 11  Menses_score                162 non-null    int64
dtypes: int32(2), int64(10)
memory usage: 14.1 KB

In [25]:
df.head(3)

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Unusual_Bleeding,Height,Weight,BMI,Mean_of_length_of_cycle,Menses_score
0,3,18,27,14,9,5,2,5,76,26,30,4
1,4,18,25,17,10,6,3,5,76,26,30,5
2,2,19,30,17,13,4,2,3,56,21,30,2

In [26]:
df.to_csv('period-Copy.csv', index=False, header=True)

In [27]:
df = pd.read_csv('period-Copy.csv')
df

,number_of_peak,Age,Length_of_cycle,Estimated_day_of_ovulution,Length_of_Leutal_Phase,Length_of_menses,Unusual_Bleeding,Height,Weight,BMI,Mean_of_length_of_cycle,Menses_score
0,3,18,27,14,9,5,2,5,76,26,30,4
1,4,18,25,17,10,6,3,5,76,26,30,5
2,2,19,30,17,13,4,2,3,56,21,30,2
3,3,19,28,16,14,6,2,2,61,25,30,3
4,2,19,35,18,15,5,2,14,55,21,35,5
...,...,...,...,...,...,...,...,...,...,...,...,...
157,2,19,35,16,12,5,2,14,57,22,30,1
158,2,18,30,13,14,6,2,21,64,22,30,2
159,3,19,40,16,14,6,2,14,55,21,38,3
160,2,18,32,15,14,8,2,21,45,16,32,4
161,3,19,28,7,14,6,2,12,53,22,28,5

### Train - Test Splitting

In [28]:
import pandas as pd
df = pd.read_csv('period-Copy.csv')
df.columns

Index(['number_of_peak', 'Age', 'Length_of_cycle',
       'Estimated_day_of_ovulution', 'Length_of_Leutal_Phase',
       'Length_of_menses', 'Unusual_Bleeding', 'Height', 'Weight', 'BMI',
       'Mean_of_length_of_cycle', 'Menses_score'],
      dtype='object')

In [29]:
X = df.drop('Unusual_Bleeding', axis=1)   
y = df['Unusual_Bleeding']

In [30]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [31]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(113, 11) (113,)
(49, 11) (49,)

### Applying Classifier / Model Training

In [32]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [33]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2], dtype=int64)

In [34]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")

75.5 %

In [35]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [36]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))