# AI-Lab: 11
### Rollnumber: BSDS 3A
### Name: Bisma Asif

In [1]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Data Gathering
Data Loading

In [2]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

Data Exploration

In [3]:
df.head(2)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,2.4,2,3,3,Presence
1,33,2,10,564,0,2,0,1.6,2,0,7,Absence

In [4]:
df.tail(2)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
268,23,3,27,192,0,0,0,0.4,2,0,6,Absence
269,33,3,38,286,0,2,1,1.5,2,3,3,Presence

In [5]:
df.columns

Index(['Age', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Exercise angina', 'ST depression', 'Slope of ST',
       'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [6]:
df.count()

Age                        270
Chest pain type            270
BP                         270
Cholesterol                270
FBS over 120               270
EKG results                270
Exercise angina            270
ST depression              270
Slope of ST                270
Number of vessels fluro    270
Thallium                   270
Heart Disease              270
dtype: int64

In [7]:
df.describe()

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,20.440741,2.174074,20.788889,249.659259,0.148148,1.022222,0.329630,1.05000,1.585185,0.670370,4.696296
std,8.956016,0.950090,10.335086,51.686237,0.355906,0.997891,0.470952,1.14521,0.614390,0.943896,1.940659
min,0.000000,0.000000,0.000000,126.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,14.000000,2.000000,13.000000,213.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,21.000000,2.000000,21.000000,245.000000,0.000000,2.000000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,27.000000,3.000000,27.000000,280.000000,0.000000,2.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,40.000000,3.000000,46.000000,564.000000,1.000000,2.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   ST depression            270 non-null    float64
 8   Slope of ST              270 non-null    int64
 9   Number of vessels fluro  270 non-null    int64
 10  Thallium                 270 non-null    int64
 11  Heart Disease            270 non-null    object
dtypes: float64(1), int64(10), object(1)
memory usage: 25.4+ KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 270 and Number of Columns: 12

In [10]:
df['Age'].unique()

array([36, 33, 23, 30, 38, 31, 22, 25, 26, 29, 19, 10, 27, 37, 12,  6, 14,
        9, 13, 20, 17, 24, 32,  3, 16,  8, 28, 15, 18, 11,  7, 39,  5,  2,
       21,  1,  4, 35, 34, 40,  0], dtype=int64)

In [11]:
df.nunique()

Age                         41
Chest pain type              4
BP                          47
Cholesterol                144
FBS over 120                 2
EKG results                  3
Exercise angina              2
ST depression               39
Slope of ST                  3
Number of vessels fluro      4
Thallium                     3
Heart Disease                2
dtype: int64

In [12]:
df.isnull().sum()

Age                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

Data Pre-Processing

Manage Null Values

In [13]:

df = df.drop('Slope of ST', axis=1)

In [14]:

df = df.drop('ST depression', axis=1)

In [ ]:

def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Age','BP','Chest pain type']
fillnaObjectMode(columns)

In [19]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Age','BP','Chest pain type']
fillnaIntMode(columns)

In [20]:

def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age','BP','Chest pain type']
fillnaFloatMean(columns)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   Number of vessels fluro  270 non-null    int64
 8   Thallium                 270 non-null    int64
 9   Heart Disease            270 non-null    object
dtypes: int64(9), object(1)
memory usage: 21.2+ KB

Manage Data Types

In [22]:
df['Age'] = df['Age'].astype('int64')

In [68]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Exercise angina', 'Thallium', 'Chest pain type']
changeFloatToInt(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   Number of vessels fluro  270 non-null    int64
 8   Thallium                 270 non-null    int64
 9   Heart Disease            270 non-null    object
dtypes: int64(9), object(1)
memory usage: 21.2+ KB

In [67]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))   
        df[i] = data_LE.transform(df[i])
        
columns = ['Exercise angina', 'Thallium', 'Chest pain type']
convertObjToInt(columns)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Chest pain type          270 non-null    int64
 2   BP                       270 non-null    int64
 3   Cholesterol              270 non-null    int64
 4   FBS over 120             270 non-null    int64
 5   EKG results              270 non-null    int64
 6   Exercise angina          270 non-null    int64
 7   Number of vessels fluro  270 non-null    int64
 8   Thallium                 270 non-null    int64
 9   Heart Disease            270 non-null    object
dtypes: int64(9), object(1)
memory usage: 21.2+ KB

In [27]:
df.head(2)

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,3,3,Presence
1,33,2,10,564,0,2,0,0,7,Absence

In [28]:
df.to_csv('Heart_Disease_Prediction.csv', index=False, header=True)

In [30]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
df

,Age,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Exercise angina,Number of vessels fluro,Thallium,Heart Disease
0,36,3,21,322,0,2,0,3,3,Presence
1,33,2,10,564,0,2,0,0,7,Absence
2,23,1,16,261,0,0,0,0,7,Presence
3,30,3,19,263,0,0,1,1,7,Absence
4,38,1,13,269,0,2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...
265,18,2,41,199,1,0,0,0,7,Absence
266,10,1,13,263,0,0,0,0,7,Absence
267,22,1,27,294,0,2,0,0,3,Absence
268,23,3,27,192,0,0,0,0,6,Absence
269,33,3,38,286,0,2,1,3,3,Presence

Train - Test Splitting

In [69]:
import pandas as pd
df = pd.read_csv('Heart_Disease_Prediction.csv')

df.columns

Index(['Age', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Exercise angina', 'Number of vessels fluro', 'Thallium',
       'Heart Disease'],
      dtype='object')

In [70]:
X = df.drop('Age', axis=1)   
y = df['BP']

In [71]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [72]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(189, 9) (189,)
(81, 9) (81,)

Applying Classifier / Model Training

In [73]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [74]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

In [75]:
def convertObjToInt(cols):
    for i in cols:
        label = LabelEncoder()
        df[i] = label.fit_transform(df[i])
        
columns = ['Exercise angina', 'Thallium', 'Chest pain type']
convertObjToInt(columns)

In [76]:
X = df.drop("Heart Disease", axis=1)
y = df["Heart Disease"]

In [77]:
train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=True, random_state=42
)

In [78]:
model_svc = SVC()

model_svc.fit(train_X, train_y)

print("Model trained successfully!")

Model trained successfully!

In [79]:
accuracy = model_svc.score(test_X, test_y)
print("Accuracy:", accuracy)

Accuracy: 0.6049382716049383

In [58]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [80]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))